{% extends 'base.html.twig' %}

{% block title %}Liste de personne{% endblock %}

{% block body %}

<div class="ligne">
    <h1> Liste des personnes </h1>
    <button type="button" class="btn btn-primary btn-lg"><a href="{{ path('add_personne') }}">Ajouter</a></button>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">PRENOM</th>
                <th scope="col">NOM</th>
                <th scope="col">AGE</th>
            </tr>
            </thead>
            <tbody>
            {% for personne in personnes %}
            <tr>
                <th scope="row">1</th>
                <td>{{ personne.firstname }}k</td>
                <td>{{ personne.name }}Mark</td>
                <td>{{ personne.age }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% if isPaginated %}
    <div class="page">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page != 1 %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('all_personne', {page: page - 1, nbre: nbre }) }}" tabindex="-1">Précedent</a>
                </li>
                {% endif %}
                {% for i in range(1, nbrePage) %}
                <li class="page-item"><a class="page-link" href="{{ path('all_personne', {page: i , nbre: nbre }) }}">{{ i }}</a></li>
                {% endfor %}
                {% if page != nbrePage %}
                <li class="page-item">
                    <a class="page-link" href="{{ path('all_personne', {page: page + 1, nbre: nbre }) }}">Suivant</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endblock %}
